#ignore All .log files
*.log

#ignore All files in Any directory named temp
temp/

#ignore the env folder
**/stem_cell/
**/.spyproject/

#ignore pycache
__pycache__
*.pyc
*.cfg

lib64


#ignore folders
flowchart/
old_file/
figure/
output/
bin/
include/
lib/
share/
input/
